body {
  font-family: sans-serif;
}

.header,
.footer,
.banner {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 100px;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 20px;
}

.banner {
    display: flex;
    padding: 100px;
}

.banner-left{
    width: 50%;
}

.banner-image {
    background-color: grey;
    text-align: center;
    color: white;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f8faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
